.shop-container{
    display: grid;
    grid-template-columns: 4fr 2fr;

    position: relative;
}
.cart-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    
}
.side-menu-container{
    margin-left: 20px;  
}